<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="styles.css" />
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div ng-app="app" ng-controller="MainCtrl as main">

		<div class="container-fluid content">
			<div class="row">

				<div class="col-md-2">
					<header>
						<h2>Leo Rivera</h2>
						<h4>Photography</h4>
					</header>
					<nav class="lateral">
						<ul class="hidden-xs list-unstyled">
							<li class="menu-item" ng-click="main.filterImages('All')">All</li>
							<li class="menu-item" ng-class="{'menu-item--selected': category == main.categorySelected}" ng-repeat="category in main.categories"
								ng-click="main.filterImages(category)">
								{{ ::category }}</li>
						</ul>
					</nav>

					<div class="visible-xs-inline-block btn-group" uib-dropdown>
						<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
              {{ main.categorySelected }} <span class="caret"></span>
            </button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a href="#" ng-click="main.filterImages('')">All</a></li>
							<li ng-repeat="category in main.categories" role="menuitem">
								<a href="#" ng-click="main.filterImages(category)">{{ ::category }}</a></li>
						</ul>
					</div>

				</div>

				<div id="gallery-wrap" class="img-container col-md-10">
					<div infinite-scroll="main.loadMore()">
						<div angular-grid="main.images">
							<div class="grid" ng-repeat="image in main.images | orderBy: 'name'">
								<img class="grid-img" ng-src="{{ ::image.src }}" ng-click="main.showImage(image)">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src='node_modules/ng-infinite-scroll/build/ng-infinite-scroll.js'></script>
	<script src="node_modules/angulargrid/angulargrid.js"></script>
	<script src="build/bundle.js"></script>
</body>

</html>