.close-icon {
  border: solid 1px red;
  background: white;
  border-radius: 18px;
  cursor: pointer;
  font-size: 25px;
  height: 30px;
  position: absolute;
  right: -27px;
  text-align: center;
  top: -27px;
  width: 30px;
}
